.card {
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: .75rem;
    flex-basis: 20%;
    margin: .75rem;
    page-break-inside: avoid;
    break-inside: avoid;
}


img {
    height: 400px;
    padding: 5px;
    border-radius: .75rem;
}